<a href="https://colab.research.google.com/github/So-Youn/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_3%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# 오픈소스 기반 데이터 분석 3강 - 데이터 분석을 위한 파이썬 2

## 3-1 언패킹

In [ ]:
# 튜플 : 순서가 있는 변경 불가능한 데이터 나
coordinates = (10, 20)
x,y = coordinates
# 튜플 언패킹

print(f'x좌표: {x}, y좌표: {y}')

rgb = [255, 128, 0]
# 리스트 언패킹
red,green,blue = rgb
print(f'빨강: {red}, 초록: {green}, 파랑: {blue}')

word = 'ABC'
# 문자열 언패킹
first, second, third = word
print(f'첫 번째 문자: {first}, 두 번째 문자: {second}, 세 번째 문자: {third}')

x좌표: 10, y좌표: 20
빨강: 255, 초록: 128, 파랑: 0
첫 번째 문자: A, 두 번째 문자: B, 세 번째 문자: C

In [ ]:
def get_dataset_stats(values):
  return min(values), max(values), sum(values) / len(values)

data = [12, 8, 21, 17, 5, 32, 14]

# 함수값 return 언패킹
minimum, maximum, average = get_dataset_stats(data)
print(f'최솟값: {minimum}, 최댓값: {maximum}, 평균: {average:.2f}')

최솟값: 5, 최댓값: 32, 평균: 15.57

In [ ]:
student_scores = [
    ('김철수', 85, 92, 78),
    ('이영희', 92, 88, 95),
    ('박지민', 75, 83, 90)
]

# 반복문에서 언패킹 사용
for name, database, python, cloud in student_scores:
  average = (database + python + cloud) / 3
  print(f'{name}의 평균 점수: {average:.1f}')

김철수의 평균 점수: 85.0
이영희의 평균 점수: 91.7
박지민의 평균 점수: 82.7

In [ ]:
# (*) 애스터리스크 언패킹
# *변수: 리스트를 변수로 나눠 담을 때 ‘남은 값들을 묶어서 받는 역할'
# *변수는 하나만 사용 가능하다.
monthly_sales = [1200, 1350, 1420, 1500, 1300, 1580, 1620, 1700, 1800, 1850, 1900, 2000]

# 1월, 2월 및 나머지 월 매출액
first, second, *remaining = monthly_sales
print(f'1월 판매액: {first}')
print(f'2월 판매액: {second}')
print(f'나머지 월 판매액: {remaining}')  # *remaining -> 리스트 형태로 저장됨

# 1월, 12월 및 나머지 월 매출액
first, *middle, eleventh, last = monthly_sales
print(f'첫 달(1월) 판매액: {first}')
print(f'마지막 달(12월) 판매액: {last}')
print(f'중간 달(2~10월)의 판매액: {middle}')

1월 판매액: 1200
2월 판매액: 1350
나머지 월 판매액: [1420, 1500, 1300, 1580, 1620, 1700, 1800, 1850, 1900, 2000]
첫 달(1월) 판매액: 1200
마지막 달(12월) 판매액: 2000
중간 달(2~10월)의 판매액: [1350, 1420, 1500, 1300, 1580, 1620, 1700, 1800, 1850]

In [ ]:
# 리스트 합치기
a = [1, 2]
b = [3, 4]
merged = [*a, *b]

print(merged)

[1, 2, 3, 4]

## 3-5 언더스코어

해당 값을 사용하지 않고 버리고 싶을 때 사용

In [ ]:
students = [
    (20251234, '김철수', '컴퓨터과학', 2, 3.8),
    (20265678, '이영희', '생활과학부', 3, 4.2),
    (20243456, '박민수', '사회복지학과', 1, 3.5)
]

# 이름 및 성적 만 출력
for _, name, _, _, grade in students:
    print(f'{name}의 성적: {grade}')

김철수의 성적: 3.8
이영희의 성적: 4.2
박민수의 성적: 3.5

In [ ]:
def get_coordinates( ):
    return (10, 20, 30)

# 함수 return 값 언더스코어 사용 (y값만 사용)
_, y, _ = get_coordinates()

print(y)

20

## 3-2 예외 처리

In [ ]:
number = int(input('정수를 입력하세요: '))
result = 10 / number
print(f'결과: {result}')
# 파이썬에서 / 연산자는 항상 결과를 float(실수) 로 반환

정수를 입력하세요: 3
결과: 3.3333333333333335

In [ ]:
number = int(input('정수를 입력하세요: '))

# try 문
try:
    result = 10 / number
    print(f'결과: {result}')

# except 문
except ZeroDivisionError:
    print('0으로 나눌 수 없습니다.')

정수를 입력하세요: 2
결과: 5.0

In [ ]:
# try 문
try:
    number = int(input('숫자를 입력하세요: '))
    result = 10 / number

# except 문 1
except ValueError:
    print('유효한 숫자를 입력해야 합니다.')

# except 문 2
except ZeroDivisionError:
    print('0으로 나눌 수 없습니다.')

print(f'결과: {result}')

숫자를 입력하세요: 3
결과: 3.3333333333333335

In [ ]:
# try 문
try:
    # file = open('data.csv', 'r')  ---> 여기서 파일이 없으면 try 실행 전에 에러 발생
    with open('data.csv', 'r') as file:
        content = file.read( )
        print(content)

# except 문
except:
    print('파일을 찾을 수 없습니다.')

# fianlly 블럭
finally:
    print('파일 작업 종료.')
    # file.close( ) finally에서 file.close()를 실행하려면 file 변수가 만들어져있어야 함.

파일을 찾을 수 없습니다.
파일 작업 종료.

## 3-3 함수형 프로그래밍

In [ ]:
# lambda: 익명함수, 간단한 함수를 한 줄로 만들 때 사용 (한 번만, 즉석에서 쓸 )
# lambda 매개변수: 표현식
employees = {
    '이지혜': 3000000,
    '구민준': 5000000,
    '방서연': 4100000
}

# 함수 정의: salary * 1.1
adjust_salary = lambda salary: salary * 1.1
# 딕셔너리 컴프리헨션
updated_salaries = {name: adjust_salary(salary) for name, salary in employees.items()}
# 인상된 급여 출력
print(updated_salaries)

{'이지혜': 3300000.0000000005, '구민준': 5500000.0, '방서연': 4510000.0}

**map함수**
 - 반복 가능한 객체의 모든 요소에 특정 함수를 적용하여 새로운 값을 생성하는 함수
 - 리스트나 튜플과 같은 자료구조의 요소를 변경할 때 유용

In [ ]:
temperature_celsius = [25.6, 27.8, 30.5, 22.3, 28.9, 31.2, 24.7]

# 함수 정의: 섭씨 -> 화씨
cel_to_fah = lambda c: (c*9/5) + 32

# 온도 변환
# map(함수, 반복 가능한 객체(ex, 리스트, 튜플, 레인지 ))
## temperature_celsius 리스트의 각 요소(25.6, 27.8, 30.5, ...)를 하나씩 꺼내서 cel_to_fah 함수에 전달
## map의 결과는 Map객체(iterator)이므로 보통 list()로 감싸서 리스트로 변환한다.
temperature_fahrenheit = list(map(cel_to_fah, temperature_celsius))

print('섭씨 온도 데이터:', temperature_celsius)
print('화씨 온도로 변환:', temperature_fahrenheit)

섭씨 온도 데이터: [25.6, 27.8, 30.5, 22.3, 28.9, 31.2, 24.7]
화씨 온도로 변환: [78.08, 82.04, 86.9, 72.14, 84.02, 88.16, 76.46]

In [ ]:
words = ['python', 'data', 'analysis']

# 함수 정의 및 대문자화

uppercase_words = list(map(str.upper, words))
# uppercase_words = [w.upper() for w in words]
print(uppercase_words)

['PYTHON', 'DATA', 'ANALYSIS']

In [ ]:
# 딕셔너리
employees = [
    {'name': '김지원', 'salary': 3700000},
    {'name': '박민준', 'salary': 7000000},
    {'name': '이서연', 'salary': 4400000},
    {'name': '정현우', 'salary': 3500000}
]

# salary * 1.1
# employees의 각 요소(딕셔너리)를 하나씩 가져다가 lambda 함수에 전달
## map 함수 updated_employees = list(map(..., employees))
## {'name': e['name'], 'salary': e['salary'] * 1.1} : 새로운 딕셔너리 생성
updated_employees = list(map(lambda e: {'name': e['name'], 'salary': e['salary'] * 1.1}, employees))

print('\n급여 인상 후:')
for emp in updated_employees:
    print(f"{emp['name']}: {int(emp['salary']):,}원")

급여 인상 후:
김지원: 4,070,000원
박민준: 7,700,000원
이서연: 4,840,000원
정현우: 3,850,000원

**filter**
- 반복 가능한 객체의 요소 중 특정 조건을 만족하는 요소만 남기는 함수
- 조건 함수가 True를 반환하는 요소만 컬렉션에 포함

In [ ]:
numbers = [10, 15, 20, 25, 30]

# 짝수 필터링
# filter() 함수는 특정 조건을 만족하는 요소만 남기고 싶을 때 사용하는 파이썬 내장 함수
# filter(람다 함수, numbers)  <- filter(함수, iterable)
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
# 리스트 컴프리헨션 사용
even_numbers_comp = [x for x in numbers if x % 2 == 0]

print(even_numbers)
print(even_numbers_comp)

[10, 20, 30]
[10, 20, 30]

In [ ]:
osda_students = [
    {'name': '김지원', 'score': 85},
    {'name': '이민준', 'score': 65},
    {'name': '박서연', 'score': 90},
    {'name': '정현우', 'score': 55},
    {'name': '최예은', 'score': 78}
]

# 70점 이상 학생 목록 생성
passed_students = list(filter (lambda student: student['score'] >= 70, osda_students))

for student in passed_students:
    print(f'이름: {student["name"]}, 점수: {student["score"]}')

이름: 김지원, 점수: 85
이름: 박서연, 점수: 90
이름: 최예은, 점수: 78

**reduce**
- 반복 가능한 객체의 모든 요소를 누적하여 하나의 값으로 축소하는 함수
- 반복문을 사용하지 않고도 데이터를 하나의 값으로 집계
- functools 모듈에서 제공

In [1]:
# reduce()는 리스트 전체를 하나의 값으로 축약(reduce) 하는 함수
# reduce(함수, iterable): 함수는 반드시 두 개의 인자 가져야 함.
# 그 결과, reduce()는 요소를 두 개씩 줄여나가면서 최종적으로 하나의 값만 남긴다.
from functools import reduce

numbers = [3, 7, 2, 9, 5]
# 최대값 생성
max_value = reduce(lambda x, y: x if x > y else y, numbers) # x가 크면 x, 아니면 y
print(max_value)

9

In [2]:
from functools import reduce
numbers = [1,2,3,4,5]
total_sum = reduce(lambda x,y: x+y, numbers) # 첫번째와 두번째 요소를 함수에 적용하여 중간 결과를 생성
print(total_sum)

15